<div id="<%= dom_id job %>">
  <p>
    <strong>Job title:</strong>
    <%= job.job_title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>

  <p>
    <strong>Requeriments:</strong>
    <%= job.requeriments %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= job.salary %>
  </p>

</div>
