<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Founded:</strong>
    <%= company.founded %>
  </p>

  <p>
    <strong>Team size:</strong>
    <%= company.team_size %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= company.website %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= company.location %>
  </p>

  <p>
    <strong>About:</strong>
    <%= company.about %>
  </p>

</div>
